* {
    font-family: "Poppins";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #daac00;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    padding: 20px 80px;
}

.links {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 29px;
    color: #ffffff;
    font-weight: 500;
}

.search,
input[type="search"] {
    display: flex;
    /* border: 2px solid black; */
    filter: drop-shadow(7.512px 14.127px 9px rgba(74, 74, 74, 0.1));
    background-color: #fcc302;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    border: none;
    /* padding: 2px 5px; */
}

#searchbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bec9;
    padding: 8px;
}

.s1-main {
    width: auto;
    background-color: #fcc302;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 80px;
}

.s1d1>div:first-child {
    font-size: 67px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
}

.s1d1>div:nth-child(2) {
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
}

.s1d1>div>button {
    width: 182px;
    height: 69px;
    border-radius: 7px;
    background-color: transparent;
    border: 3px solid #ffffff;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 600;
}

.s1d1>div>button+button {
    margin-left: 30px;
}

.s1d1>div>button:hover {
    background-color: #00bec9;
}

.s1d1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

.s2-main {
    width: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 80px;
}

.s2d1>div:first-child {
    font-size: 50px;
    color: #313243;
}

.s2d1>div+div {
    font-size: 29px;
    letter-spacing: 0px;
    color: #313243;
    font-weight: 400;
}

.s2d1>div>button {
    width: 182px;
    height: 69px;
    border-radius: 7px;
    background-color: #fcc302;
    border: 3px solid #ffffff;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 600;
}

.s2d2 img {
    width: 506px;
    height: 480px;
    background-color: #daac00;
}

.s2d2 {
    position: relative;
    z-index: 3;
}

.s2d2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    /* opacity: 0.569; */
    width: 506px;
    height: 480px;
    background-color: rgba(218, 172, 0, 0.5686274509803921);
}

.s2d3-circle {
    width: 84px;
    height: 84px;
    border-radius: 42px;
    background-color: #ffffff;
    /* border: 2px solid; */
    z-index: 1;
    position: absolute;
    top: 199px;
    left: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2d3-triangle {
    width: 30px;
    height: 30px;
    background-color: #daac00;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.s2d2-yellow-offset-box {
    width: 252px;
    height: 206px;
    background-color: #fcc302;
    position: absolute;
    left: -25px;
    bottom: 5px;
    z-index: -1;
}

.s2d1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}

.s3-main {
    background-color: #fcc302;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.s3-text h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.s3-text p {
    font-size: 33px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.s3-three-card {
    display: flex;
    justify-content: space-around;
    gap: 50px;

}

.s3-three-card>div h3 {
    font-size: 38px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.s3-three-card>div p {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.s3-three-card>div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}

.s4-main {
    display: flex;
}

/* Below code */
/*
.s2-main {
    width: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 80px;
}

.s2d1>div:first-child {
    font-size: 50px;
    color: #313243;
}

.s2d1>div+div {
    font-size: 29px;
    letter-spacing: 0px;
    color: #313243;
    font-weight: 400;
}

.s2d1>div>button {
    width: 182px;
    height: 69px;
    border-radius: 7px;
    background-color: #fcc302;
    border: 3px solid #ffffff;
    font-size: 21px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 600;
}

.s2d2 img {
    width: 506px;
    height: 480px;
    background-color: #daac00;
}

.s2d2 {
    position: relative;
    z-index: 3;
}

.s2d2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 506px;
    height: 480px;
    background-color: rgba(218, 172, 0, 0.5686274509803921);
}

.s2d3-circle {
    width: 84px;
    height: 84px;
    border-radius: 42px;
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
    top: 199px;
    left: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2d3-triangle {
    width: 30px;
    height: 30px;
    background-color: #daac00;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.s2d2-yellow-offset-box {
    width: 252px;
    height: 206px;
    background-color: #fcc302;
    position: absolute;
    left: -25px;
    bottom: 5px;
    z-index: -1;
}

.s2d1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
} */
/* edit upto here */